/* Reset Styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Global Styles */
body {
	font-family: Arial, sans-serif;
	font-size: 18px;
	line-height: 1.5;
	color: #333;
	background-color: #f2f2f2;
}

.title{
    text-align: center;
    background: linear-gradient(to right, #00ff00, #ff0000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient 5s ease-in-out infinite;
    animation: scalingUp 3s ease infinite; 
}

@keyframes scalingUp {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

header {
	background-color: #333;
	color: #fff;
	padding: 10px;
}

header h1 {
	font-size: 36px;
	margin: 0;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
    /* make it center */
    justify-content: center;
}
nav li:hover{
    background-color: #0066cc;
    transform: scale(1.1);
}

nav li {
	margin-right: 20px;
    transition: 0.3s;
}

nav a {
	color: #fff;
	text-decoration: none;
}

nav a:hover {
	text-decoration: underline;
}

main {
	max-width: 1200px;
	margin: 20px auto;
	padding: 20px;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
	margin-bottom: 20px;
}

section h2 {
	font-size: 24px;
	margin-bottom: 10px;
}

section p {
	margin-bottom: 10px;
}

section ul {
	margin-left: 20px;
}

footer {
	background-color: #333;
	color: #fff;
	padding: 10px;
	text-align: center;
}

footer p {
	margin: 0;
	font-size: 14px;
}

/* Media Queries */
@media screen and (max-width: 768px) {
	main {
		padding: 10px;
	}
	
	header h1 {
		font-size: 24px;
	}
	
	nav {
		flex-direction: column;
		align-items: center;
	}
	
	nav li {
		margin: 10px 0;
	}
}

#history{
    display: flex;
    text-align: center;
    margin: 20px;
}
#history img{
    height: 400px;
    margin: 10px;
    margin-left: 30px;
    transition: 0.3s;
}

#history img:hover{
    transform: scale(1.1);
}

img {
    transition: 0.3s;

}


img:hover{
    transform: scale(1.1);
}

#mapping img{
    align-self: center;
}
#mapping ul{
    display: flex;
    flex-direction: column;
}